Flask==2.0.2
moviepy
google-cloud-speech
google-cloud-storage
imageio==2.4.1
ffmpeg-python
fer
attrdict==2.0.1
tensorflow
opencv-python
imutils
numpy
gunicorn==20.1.0
pandas
librosa
pydub
soundfile
my-voice-analysis
text2emotion