<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Application Page</title>
	</head>

	<body>
		<h1 style="text-align: center">Application Form</h1>
		<div id="formContainer">
			<form id="formC" action="/" method="POST" enctype = "multipart/form-data">
				<div id="personal_info">
					<div class="column">
					    <label class="theLabels" for="name"><b>Name</b></label>
					    <input class="theInputs" type="text" placeholder="please enter your name" id="name" name="name" class="form-control" value="{{ request.form['name'] }}" required>
					</div>
					<div class="column">
					    <label class="theLabels" for="email"><b>Email</b></label>
					    <input class="theInputs" type="text" placeholder="please enter your mail" id="email" name="email" class="form-control" value="{{ request.form['email'] }}" required>
					</div>
                    <div class="column">
					    <label class="theLabels" for="email"><b>Vacancy</b></label>
					    <input class="theInputs" type="text" placeholder="please enter vacancy name" id="vacancy" name="vacancy" class="form-control" value="{{ request.form['vacancy'] }}" required>
					</div>
				</div>
				<p style="font-family: Serif;font-size: 20px;font-style: italic;">Please answer the following questions in 1 min video and upload it</p>
				<div id="questions_form">
					
				  	<div class="column">
				  		<label class="questions" for="vid">Q1: Tell us what you've been doing most recently and why you're looking to make a change</label>
				      	<input class="vid-btn" type="file" placeholder="please upload your video" id="video" name="video" accept="video/*" class="form-control" value="{{ request.files['video'] }}">
					 </div>
				</div>
				<div id="questions_form">
					 <div class="column">
					 	<label class="questions" for="vid">Q2: How do you think twitter is changing the way we do customer service? Do you think this is a positive trend and if so, whom is it helping</label>
				      	<input class="vid-btn" type="file" placeholder="please upload your video" id="video2" name="video2" accept="video/*" class="form-control" value="{{ request.files['video2'] }}">
					</div>
				</div>

				<button id="submit_btn" type="submit" class="btn btn-primary">Submit</button>

			</form>
		</div>
	</body>
</html>

